@using EntityLayer.Concrete
@model List<Message2>

@{
    ViewData["Title"] = "Sendbox";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>Giden Mesaj Kutusu</h1>
<br />
<table class="table table-bordered">
    <tr>
        <th>Konu</th>
        <th>Alıcı</th>
        <th>Tarih</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Subject</td>
            <td>@item.ReceiverUser.NameSurname</td>
            <td>@item.MessageDate</td>
            <td><a href="/Message2/MessageDetailsSendbox/@item.MessageId" class="btn btn-warning">Mesajı Aç</a></td>
        </tr>
    }
</table>
<br />
<a href="/Message2/SendMessage/" class="btn btn-primary">Yeni Mesaj Oluştur</a>