<div class="tech-btm">
    <p>Teknoloji, yazılım ve diğer bloglar... </p>
    <input type="email" id="SubscribeNewsLetterEmail" placeholder="E-mail adresinizi giriniz." required="" name="Mail">
    <button type="button" id="btnSubscribe" class="btn btn-info">Abone Ol</button>
</div>